/**
 * 総ニコる表示用ニコるくん画像
 */
#nikoruKun_total {
    width: 18px;
    height: 18px;
    margin-left: 5px;
    margin-right: 5px;
}

/**
 * ツールチップ
 */
.nikoruTooltip {
    position: fixed;
    width: 45px;
    height: 21px;
    padding: 3px 8px;
    border: solid 1px rgb(197, 197, 197);
    border-radius: 3px;
    box-sizing: content-box;
    box-shadow: rgb(102, 102, 102) 0px 0px 5px;
    background-color: white;
    z-index: 114514;
    font-size: 13px;
    line-height: 21px;
}

/**
 * ツールチップ上のニコるくん画像（今回ニコられていないもの）
 */
.nikoruTooltip::before {
    content: "";
    display: inline-block;
    width: 21px;
    height: 21px;
    margin-right: 6px;
    background-image: var(--gijinikoru-nikorukun-tate);
    background-size: contain;
    vertical-align: top;
    transition: transform .5s, filter .5s;
}

/**
 * ツールチップ上のニコるくん画像（今回ニコられ、無効となったもの）
 */
.nikoruTooltip[data-disabled=true]::before {
    transform: rotate(-90deg);
    filter: grayscale(1);
}
