api/src/app/config/constants.py
db/data
.idea
.python-version
**/htmlcov
**/__pycache__
**/.coverage
**/.pytest_cache
api_tmp/*

/chromeExtension.zip
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
front/chromeExtension/**/*.map
